<footer>
  <ul>
    <li class="cc_img">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img src="/assets/images/cc.png" alt="Creative Commons Licence">
      </a>
    </li>
    <li class="cc_text">
      <p>All original content on this site written by <a href="http://syntheta.se/" target="_blank">D.L. Allen</a> and licenced under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Licence</a>.</p>
    </li>
  </ul>
</footer>
