{% comment %}
  For loading external JS assets after the page has been rendered
{% endcomment %}

<script type="text/javascript">
  function loadScriptPostRender() {
    const urls = [
      'http://code.jquery.com/jquery-1.11.0.min.js',
      '/assets/javascript/main.js'
    ];

    urls.forEach(function(url) {
      const element = document.createElement('script');
      element.src = url;
      element.type = 'text/javascript';
      element.async = false;
      document.body.appendChild(element);
    });
  }

  if (window.addEventListener) {
    window.addEventListener('load', loadScriptPostRender, false);
  } else if (window.attachEvent) {
    window.attachEvent('onload', loadScriptPostRender);
  } else {
    window.onload = loadScriptPostRender;
  }
</script>
